# Install dependencies:
#   pip install -r requirements.txt
#
# Create a virtual environment:
#   py -3.10 -m venv venv
# Activate it:
#   .\venv\Scripts\Activate.ps1
# Run the project:
#   python manage.py runserver

Django>=5.2,<5.3
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.0,<6.0
